* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", serif;
}

/* components: header*/
header {
  height: 10%;
}

/* components: Main */
main {
  height: 30%;
}

.blackContent {
  padding-block: 28px;
}

.primaryContent {
  padding-block: 28px;
  position: relative;
  z-index: 4;
}

.small-icon {
  width: 50px;
  height: auto;
}

/* components: footer*/

.bgHeroes {
  background-image: url('src/assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footerblk {
  background-color: rgb(62, 61, 61);
  height: 20vh;
  z-index: 4;
  position: relative;
}

.centered-logo {
  position: absolute;
  top: 50%;
  left: 71%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 3;
}

.fontSize {
  font-size: 0.78rem;
}

.fontTitle {
  font-size: 1.2rem;
}